admin/types#edit
<h1>記事タイプ編集ページ</h1>

<h2>タイプ編集</h2><br>
      <%= form_with model: @type, url: admin_type_path(@type.id) do |f| %>
    <table class = "table">
          <tr><td>
          <lavel>タイプ名</lavel>
          </td><td>
          <%= f.text_field :name %>
          </td><td>
          <%= f.submit "変更を保存", class: "btn btn-primary" %>
          </td>　</tr>
      <% end %>