<div class="row">
  <div class="col-md-8 offset-md-2">
<h1>ユーザ一覧</h1>
<table class = "table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>ユーザー名</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @publics.each do |public| %>
      <tr>
        <td><%= public.id %></td>
        <td><%= public.name %></td>
        <td><%= link_to "詳細", admin_customer_path(public.id) ,class: "btn btn-primary" %></td>
        <td><%= link_to "編集", edit_admin_customer_path(public.id) ,class: "btn btn-success" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>