public/aricles#edit
<h1>記事編集画面</h1>
<%= form_with model: @aricle, url: admin_game_title_path(@aricle.id) do |f| %>
    <table class = "table">
          <tr><td>タイトル名</td><td>
          <%= f.text_field :title %>
          </td></tr>

          <tr><td>本文</td><td>
          <%= f.text_area :body %>
          </td></tr>
        </table>

          <%= f.submit "変更を保存", class: "btn btn-primary" %>

      <% end %>